<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PortalproConnection" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=portalpro" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
