<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <connectionStrings>
    <add name="PortalproConnection" connectionString="server=localhost;user id=root;password=aritel;persist security info=True;database=portalpro" providerName="MySql.Data.MySqlClient"/>
    <add name="PortalProTestConnection" connectionString="data source=PC-W8\SQLEXPRESS;initial catalog=PortalProTest;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
