<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>PortalProWebApi</h1>
                <h2>Esta es la WebApi del portal de proveedores.</h2>
            </hgroup>
            <p>
                Toda la información sobre los diferentes verbos y su formato los tienes disponibles en el enlace
                "API" en la parte superior derecha de su pantalla.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Para poder hacer uso de las funciones de esta API:</h3>
        <ol class="round">
            <li class="one">
                <h5>Solicite un usuario</h5>
                Pida a la organización el alta como usuario. Se le proporcionará un login y contraseña
                necesarios para el siguiente paso
            </li>

            <li class="two">
                <h5>Haga login en la WebApi</h5>
                Utilice el LOGIN para obtener un tique de acceso
            </li>
            <li class="three">
                <h5>Use el tique de acceso</h5>
                Ahora tiene a su disposición, en función de sus privilegios, los verbos de acceso haciendo uso de su tique.
            </li>
        </ol>
    </section>
</div>
